extends layout

block content
    h1=title
    table
        tr
        each val, index in c[0]
            th= index
        -var n = 0
        while n<10
            tr
            each val in c[n++]
                td=JSON.stringify(val)


